---
import { PadelBotWrapper } from '@components/private/PadelBotWrapper';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Padel Bot" description="Private tool for automated padel court bookings.">
  <div class="pt-20">
    <PadelBotWrapper client:only="react" />
  </div>
</BaseLayout>
